h1 {
  text-align: center;
}

html,
body {
 height: 100%;
 position: relative;
 background: url(/assets/images/mountains.jpg) no-repeat center center fixed;
 background-size: cover;
 line-height: 1.5;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.container {
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  height: 50%;
  overflow: hidden;
}

.about {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  padding-bottom:5px;
}

.my-border {
  border-color: #343a40;
  border-style: solid;
  border-width: 20px;
  background-color: lightgray;
}

.special {
  font-family: 'Yellowtail', cursive;
}

.white {
  color: white;
  margin: auto;
}

.card-img-top {
  width: auto;
  height: 350px;
}

.btn {
  margin-bottom: 10px;;
}

.border-top {
  backgro: #343a40;
  padding:5px;
}